.App {
  text-align: center;
  background-color: #282c347a;
  color: azure;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paramsBlock {
  width: 500px;
  margin: auto;
  text-align: justify;
}

.list {
  display: flex;
}

.list > div.param {
  padding-right: 1rem;
  width: 120px;
}
