.App {
  text-align: center;
  background-color: #282c347a;
  color: azure;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 1rem;
  box-shadow: 0px 0px 28px 6px rgba(0,0,0,0.75);
  background-color:#eee;
  color: black;
  border-radius: 5px 5px;
  max-width: 500px;  
  margin: auto;
  margin-top: 25px;
  text-align: justify;
}

.list {
  display: flex;  
}

.card .title {  
  font-weight: bolder;  
  font-size: 22px;
  text-align: center;  
  text-transform: capitalize;  
  margin: 10px 0px;
  padding-bottom: 10px;
  border-bottom: 2px dotted black;
}

.list > div.param {
  padding-right: 1rem;
  margin-bottom: 5px;
}

.list > div.dots {
  border-bottom: 1px dotted black;  
  flex: 1;
  height: 17px;
}

.list > div.value {
  font-style: italic;
  text-align: right;
  padding-left: 10px;
}